##################
### CodeBlocks ###
##################
*.layout
*.depend
*.cbp

bin/
obj/

#############################################
### Custom Files (does not effect program)###
#############################################
_old/

LOC/
