##################
### CodeBlocks ###
##################
*.layout
*.depend

bin/
obj/

#############################################
### Custom Files (does not effect program)###
#############################################
_old/

LOC/
